html {
	height: 100%;
}

body {
	font-family: 'Lucida Grande', Verdana, sans-serif;
	font-size: 12px;
	line-height: 16px;
	color: #000;
	height: 100%;
	padding: 0px;
	margin: 0px;
	text-align: left;
}

/*	 Layout 
---------------------------------------------------------------*/
div#container {
	width: 100%; 
	margin: 0px;
	padding: 0px;
	text-align: left;
}

div#page {
	width: 100%;
	margin: 0px;
	padding: 0px;
	text-align: left;
}

div#content {
	padding: 0 1em;
	clear: both;
}

div#footer {
	color: #3A4043;
	height: 30px;
	line-height: 30px;
	margin: 0 auto;
	padding: 0 1em;
	clear: both;
}

/*  Links 
---------------------------------------------------------------*/
a {
	color: #257AA3;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/*  Images 
---------------------------------------------------------------*/
img {
	border: 0px none;
	margin: 0px;
	padding: 0px;
}

.imgfloatleft {
	float: left;
	border-right: 4px solid #FFF;
	border-bottom: 4px solid #FFF;
}

.imgfloatright {
	float: right;
	border-left: 4px solid #FFF;
	border-bottom: 4px solid #FFF;
}

/*  H1 H2 H3
---------------------------------------------------------------*/
h1 {
	font-family: Helvetica, Tahoma, Verdana, Arial, sans-serif;
	font-size: 18px;
	margin: 0px;
}

h2 {
	font-family: Helvetica, Tahoma, Verdana, Arial, sans-serif;
	font-size: 16px;
	margin: 0px;
}

h3 {
	font-family: Helvetica, Tahoma, Verdana, Arial, sans-serif;
	font-size: 14px;
	color: #2d5768;
	margin: 0px;
}


/*  Customize and Order Buttons
---------------------------------------------------------------*/
input.button {	
  	background: #fff url("images/input_bg.gif");
	color: #000;
	padding: 4px;
	margin: 1.5em auto 0;
	font-size: 1.2em;
	font-weight: bold;
	border:1px #ccc solid;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px; 
	display:block;
}

input.button:hover { 
	border:1px #257AA3 solid;
}

input.button:focus {
	border:1px #3a535e solid;
}

textarea, select {
	font: normal 11px Lucida Sans Unicode,Lucida Sans,Tahoma,Helvetica,Arial;
	border-color: #000; 
	color: #000;
	background: #f9f9f9;
}
  
input {
  text-indent: 2px; 
}

.textarea,
.searchinput {
	border: 1px solid #FFF;
	color: #000;
	background: #f9f9f9;
	font-family: Verdana, Helvetica, Sans-Serif;
	font-size: 11px;
	padding: 2px;
	vertical-align: middle;
 }


/*  Row Styles
---------------------------------------------------------------*/
.versionLinkContainer {
	margin: 0 0 1em;
	font-weight: bold;
	float: right;
	clear: both;
}

.versionLinkContainer a, .ui-widget-content .versionLinkContainer a {
	color:#257AA3;
}

.contentBox {
	width: 100%;
	border: 1px solid #353535;
	border-collapse: collapse;
	clear: both;
}

.redRow {
	background: #f1c3c3;
	padding-left: 3px;
}

.greenRow {
	background: #caf1c3;
	color: #000;
	padding-left: 3px;
}

.yellowRow {
	background: #eaeb7a;
	color: #000;
	padding-left: 3px;
}

.title1 {
	background: #323437;
	height: 27px;
	color: #fff;
	font-weight: bold;
	text-align: left;
	padding-left: 5px;
	border-bottom: 1px solid #353535;
}

.title2 {
	background: #46484c;
	color: #fff;
	padding-left: 3px;
	text-align: left;
}

td.title2 a {
	color: #fff;
	text-decoration: underline;
}

td.title2 a:hover {
	text-decoration: none;
}

.row1, table.tablesorter tbody tr.odd {
	background: #fff;
	color: #353535;
	padding-left: 3px;
	text-align: left;
}

.row2, table.tablesorter tbody tr.even {
	background: #d4d4d4;
	color: #353535;
	padding-left: 3px;
	text-align: left;
}

.ui-widget-content .row1 a, .ui-widget-content .row2 a {
	color: #0973B0;
	text-decoration: underline;
}

.ui-widget-content .row1 a:hover, .ui-widget-content .row2 a:hover {
	text-decoration: none;
}

.full { 
	width: 100%;
}

.half { 
	width: 50%;
}

/*  Font Styles
---------------------------------------------------------------*/
.bold { font-weight: bold; }
.underline { text-decoration: underline; }
.italic { font-style: italic }
.greenText { color: green; }
.redText { color: red; }

/*  Alignment Styles
---------------------------------------------------------------*/
.clear { clear: both; }
.noClear { clear: none; }
.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }
.floatLeft { float: left; }
.floatRight { float: right; }
.displayBlock { display: block; }
.displayInline { display: inline; }
.cursorPointer { cursor: pointer; }
.noWrap { white-space: nowrap; }

/*  Margins Styles
---------------------------------------------------------------*/
.margin0Auto { margin: 0 auto; }
.marginT0pt4em { margin-top: 0.4em; }
.marginR0pt4em { margin-right: 0.4em; }
.marginB0pt4em { margin-bottom: 0.4em; }
.marginL0pt4em { margin-left: 0.4em; }

.marginT1em { margin-top: 1em; }
.marginR1em { margin-right: 1em; }
.marginB1em { margin-bottom: 1em; }
.marginL1em { margin-left: 1em; }

.marginT5px { margin-top: 5px; }
.marginR5px { margin-right: 5px; }
.marginB5px { margin-bottom: 5px; }
.marginL5px { margin-left: 5px; }

.paddingT5px { padding-top: 5px; }
.paddingR5px { padding-right: 5px; }
.paddingB5px { padding-bottom: 5px; }
.paddingL5px { padding-left: 5px; }

/*  Message Styles
---------------------------------------------------------------*/
.errorMessage { 
	background: #f1c3c3;
	color: #ff0000;
	padding: 0.4em;
	margin: 0 0 1em; 
	font-weight: bold;
	border: 1px solid #8e2424;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px; 
}

.errorMessage a {
	color: #ff0000;
}

.successMessage { 
	background: #caf1c3;
	color: #008000;
	padding: 0.4em;
	margin: 0 0 1em; 
	font-weight: bold;
	border: 1px solid #348e24;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px; 
}

.updateNotice {
	color: #257AA3;
	background: #fff url('images/footerBG.gif') repeat-x;
	margin: 1em 0 0;
	padding: 0.4em;
	border: 1px #AAAAAA solid;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px; 
}

/*  Calendar Styles
---------------------------------------------------------------*/
.calendar {
	background: #919191; 
	width: 100%;
	border: 1px solid #aaa;
	border-collapse: collapse;
}

#calendarNext, #calendarPrev {
	width: 33%;
}

#calendarNext a:link, #calendarPrev a:link, #calendarNext a:visited, #calendarPrev a:visited {
	color: #fff;
	text-decoration: none;
}

#calendarNext a:hover, #calendarPrev a:hover {
	text-decoration: underline;
}

#calendarMonth {
	width: 33%;	
}

.today { 
	color: #000000; 
	background: #EFEFEF; 
	height: 110px;
	width: 110px;
	font-weight: bold;
}

.monthdays { 
	color: #000000; 
	background: #FFF;  
	height: 110px;
	width: 110px;
}

.date {  
	height: 15px;
}

.appointments {  
	height: 95px;
}

.nonmonthdays { 
	color: #000000; 
	background: #EFEFEF; 
	height: 110px;
	width: 110px;
}

/*  Input Form
---------------------------------------------------------------*/
form.inputForm {
	display: none;
}

/*  JQuery Theme Overwrite Styles
---------------------------------------------------------------*/
.ui-tabs-nav {
	display: none;
}

.ui-state-default, .ui-widget-content .ui-state-default {
	background: #c8cacb;
	border-color: #c8cacb;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
	color: #485054;
}

.ui-state-active, .ui-widget-content .ui-state-active {
	background:#3A4043;
	border-color: #3A4043;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
	color: #fff;
}

/*  JQuery Edit in Place Styles
---------------------------------------------------------------*/
.editableItemHolder:hover {
	background: #e9f0fa;
	font-weight: bold;
	cursor: pointer;
}

/*  JQuery TableSorter Styles
---------------------------------------------------------------*/
table.tablesorter thead tr .header {
	background-image: url('images/tablesorter_bg.gif');
	background-position: right center;
	background-repeat: no-repeat;
}

table.tablesorter thead tr .header, table.tablesorter tbody tr.odd td, table.tablesorter tbody tr.even td, .title1 td, .title2 th, .row1 td, .row2 td {
	padding: 0.2em;
}

table.tablesorter thead tr .headerSortUp {
	background-image: url('images/tablesorter_desc.gif');
	background-position: right center;
	background-repeat: no-repeat;
}

table.tablesorter thead tr .headerSortDown {
	background-image: url('images/tablesorter_asc.gif');
	background-position: right center;
	background-repeat: no-repeat;
}

/*  Invoice Styles
---------------------------------------------------------------*/
#invoice {
}

#companyInfoBlock {
	margin: 0 0 5em;
}

#invoiceProductsTable {
	margin: 1em 0 0;
}

#clientInfoBlock, #invoiceDetailsBlock, #invoiceTotalsBlock {
	width: 450px;
}

#invoiceDetailsBlock {
	float: right;
}

#invoiceTotalsBlockWrapper {
	height: 100px;
	margin: 1em 0 0;
	position: relative; 
	clear: both;
}

#invoiceTotalsBlock {
	position: absolute; 
	right: 0;
}

#invoiceDetailsBlock span, #invoiceTotalsBlock span {
	width: 250px;
	float: left;
}

#invoiceDetailsBlock span.noFloat, #invoiceTotalsBlock span.noFloat { 
	float: none; 
}

#invoiceDetailsBlock strong, #invoiceTotalsBlock strong {
	background: #323437;
	color: #fff;
	border: 1px solid #353535;
	padding: 0.4em 0.2em;
	display: block;
}
